<header>
<h4><em><%= @visitor.first_name %> says: </em></h4>

<p><%= @visitor.message %></p>
</header>

<main>
<h4><em>Contact Information: </em></h4>
<p><%= @visitor.first_name %> <%= @visitor.last_name %></p>
<p><%= @visitor.email_address %></p>
<p><%= @visitor.phone_number %></p>
</main>


